@tailwind base;
@tailwind components;
@tailwind utilities;

::root {
  overflow-x: hidden;
}

@screen xl {
  .max-width-1040 {
    grid-template-columns: 1fr;
  }
}

::-webkit-scrollbar {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #181818;
  border-radius: 999px;
}
